@page "/create"
@using Bonsai.Components.Goals
@using Bonsai.Injection

<h3>Create</h3>

<table class="table">
	<tbody>
		<tr>
		@foreach (Type type in Container!.GetSupportedGoalTypes(typeof(IGoalEditorComponent<>)))
		{
			try
			{
				<td>
					<img src="@Container.ResolveMeta(type).IconPath" />
				</td>
			}
			catch (InvalidOperationException) { } // TODO: injection exception
		}
		</tr>
	</tbody>
</table>

@code {
	[CascadingParameter, EditorRequired]
	public ComponentInjector? Container { get; set; }
}