@page "/create"
@using Bonsai.Components.Goals
@using Bonsai.Injection
@inject GoalInjector Container
@rendermode InteractiveServer

<h3>Create</h3>

<table class="table">
	<tbody>
		<tr>
			@foreach (Type type in goalEditorMapping!.Keys)
			{
				try
				{
					GoalMeta meta = Container.ResolveMeta(type);

					<td @onclick="() => ComponentEditorType = goalEditorMapping[type]">
						<div>
							<img src="@meta.IconPath" /> @meta.Name
						</div>
					</td>
				}
				catch (InvalidOperationException) { } // TODO: injection exception
			}
		</tr>
	</tbody>
</table>

@if (ComponentEditorType is not null)
{
	<DynamicComponent Type="@ComponentEditorType" />
}

@code {
	private IDictionary<Type, Type>? goalEditorMapping;

	private Type? ComponentEditorType { get; set; }

	protected override void OnInitialized() => goalEditorMapping = Container
		.GetSupportedGoalTypes(typeof(IGoalEditorComponent<>))
		.ToDictionary(_ => _, goalType => Container.For(goalType).ResolveKind(typeof(IGoalEditorComponent<>).MakeGenericType(goalType)));
}