@page "/create"
@using Bonsai.Components.Goals
@using Bonsai.Injection
@rendermode InteractiveServer

<h3>Create</h3>

<table class="table">
	<tbody>
		<tr>
			@foreach (Type type in Container.GetSupportedGoalTypes(typeof(IGoalEditorComponent<>)))
			{
				try
				{
					GoalMeta meta = Container.ResolveMeta(type);

					<td @onclick="() => ComponentEditorType = Container.For(type).ResolveKind(typeof(IGoalEditorComponent<>).MakeGenericType(type))">
						<div>
							<img src="@meta.IconPath" /> @meta.Name
						</div>
					</td>
				}
				catch (InvalidOperationException) { } // TODO: injection exception
			}
		</tr>
	</tbody>
</table>

@if (ComponentEditorType is not null)
{
	<DynamicComponent Type="@ComponentEditorType" />
}

@code {
	[CascadingParameter, EditorRequired]
	public required ComponentInjector Container { get; set; }

	private Type? ComponentEditorType { get; set; }
}