@page "/"
@using Bonsai.Injection
@using Bonsai.Model

<PageTitle>Goals</PageTitle>

<table class="table">
	<tbody>
		@foreach (Goal goal in goals)
		{
			<tr>
				<DynamicComponent Type="@(Container.For(goal.GetType()).ResolveKind(typeof(IListSummaryGoalComponent<>).MakeGenericType(goal.GetType())))" Parameters="@(new Dictionary<string, object> { {"Goal", goal} })" />
			</tr>
		}
	</tbody>
</table>

@code {
	private IReadOnlyList<Goal> goals = new List<Goal>() { new AssignmentGoal(), new AssignmentGoal() };

	[CascadingParameter]
	public ComponentInjector? Container { get; set; }
}
